<% if logged_in? %>
  Hello, <%= current_user.first_name %>
  <a href="/create_group">Create Group</a> | <a href="/join_group">Join Group</a> | <a href="/session/logout">Log out</a>

<% if current_user.groups.empty? %>
  Please join a group!
<% else %>
  <table>
    <tr>
      <th>Your Groups</th>
      <th># of Participants</th>
    </tr>
      <% current_user.groups.each do |group| %>
        <tr>
          <td><a href="/groups/<%= group.id %>"><%= group.group_name %></a></td>
          <td><%= group.users.count %></td>
        </tr>
      <% end %>
  </table>
<% end %>


<% else %>
  <%= erb :_sign_in %>
<% end %>
