</span> <span class="table-heading"><%= @group.group_name %></span>

<p>
  <form action="/groups/<%= @group.id %>/leave_group" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger">Leave Group</button>
  </form>
</p>

<% if @group.users.count == 1 %>

  <div class="jumbotron no-groups-container container">
    <h1>Hello, <%= current_user.first_name %>!</h1>
      <p>
        It looks like you're the only member of this group.</br>
        You must invite other members before you can place a bet.
      </p>
  </div>

<% else %>

    <%= erb :new_bet %>

  <% unless @group.bets.empty? %>
    <% bets_array = @group.bets %>
    <% group_name = "Group" %>
    <%= erb :_all_bets, :layout => false, :locals => { :bets_array => bets_array, :group_name => group_name } %>
  <% end %>

<% end %>
