<h2><%= @group.group_name %></h2>

<h4>New Bet</h4>

<form action="/groups/<%= @group.id %>/bets" method="post">
  <select name="select">
    <% @group.users.each do |user| %>
      <option value="<%= user.id %>"><%= user.first_name %></option>
    <% end %>
  </select></br>
  <input type="text" name="bet[amount]" placeholder="$25"/></br>
  <textarea name="bet[description]" rows="8" cols="40" placeholder="I bet that..."></textarea></br>
  <input type="date" name="bet[expiration_date]"/></br>
  <button>Submit</button>
</form>

<h4>Group Bets</h4>

<% bets_array = @group.bets %>
<%= erb :_all_bets, :layout => false, :locals => { :bets_array => bets_array } %>
