<h2><%= @group.group_name %></h2>
<p>
  <a href="/">Home</a> | <a href="/session/logout">Log out</a>
</p>
<h4>Current Bets</h4>

<p>
<% @group.bets.each do |bet| %>
  <%= bet.amount %></br>
<% end %>
</p>

<h4>Create a Bet With:</h4>
<form action="/groups/<%= @group.id %>/bets" method="post">
  <select name="select">
    <% @group.users.each do |user| %>
      <option value="<%= user.id %>"><%= user.first_name %></option>
    <% end %>
  </select></br>
  <input type="text" name="bet[amount]" placeholder="$25"/></br>
  <textarea name="bet[description]" rows="8" cols="40" placeholder="I bet that..."></textarea></br>
  <input type="date" name="bet[expiration_date]"/></br>
  <button>Submit</button>
</form>
